# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.obj
*.exp
*.lib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
ui_*.cpp
ui_*.h
Makefile
*-build-*

# visual studio
*.tlog
*.log
*.user
*.pdb
*.suo
*.*sdf
*.ipch
*.dll.manifest
Debug/
debug/
Release/
* - Copy.h
* - Copy.cpp
